body {
    background-color: #4da6ff;
}

h1 {
    text-align: center;
    font-family: 'IM Fell French Canon SC', serif;
    color: rgba(255, 0, 0, .75);
    text-shadow: 2px 2px #002db3;
}

p {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}